@import"../SASS/Placeholder";
@import"../SASS/Variables";
.aboutbg{
    background-color: $maincolor;
}
.beforeLine::before,
.afterLine::after {
  content: "";
  display: inline-block;
  width: 100px;
  height: 5px; 
  background-color:white;
  margin: 0 10px;
}